* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  background-color: #0d1117;
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 5rem;
}
.title svg {
  fill: white;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 3rem;
}
form {
  height: 35rem;
  width: 50rem;
  background-color: #151b23;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #3d444d;
  gap: 2rem;
}

.btn {
  background-color: #238636;
  font-size: 1.3rem;
  color: white;
  border: none;
  border-radius: 0.5rem;
  width: 8rem;
  height: 2rem;
  cursor: pointer;
}
.btn:hover {
  transform: scale(1.02);
  transition: all 0.1s ease-in-out;
}

.userinput {
  background-color: #212831;
  color: white;
  font-size: 1.3rem;
  height: 2.1rem;
  width: 15rem;
  border-radius: 0.5rem;
  border: 0.5px solid #3d444d;
  padding: 0.5rem;
}

.userInfo {
  height: 35rem;
  width: 50rem;
  background-color: #151b23;
  border-radius: 0.5rem;
  display: none;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid #3d444d;
  gap: 2rem;
}

.profileImg {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
}
.imgNameFollow {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
.imgName {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.nameLocation {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.usernameLocation {
  display: flex;
  gap: 1rem;
  color: gray;
}
.username a,
.location a {
  color: gray;
  text-decoration: none;
}
.follow {
  width: 30%;
  background-color: #212831;
  border-radius: 0.5rem;
  border: 0.5px solid #3d444d;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.follow a {
  color: white;
  text-decoration: none;
}

.followers,
.following {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.followersCount,
.followingCount {
  font-size: 1.7rem;
}

.repos{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr); 
  gap: 1rem;
}
.repo {
  height: 9.5rem;
  width: 100%;
  background-color: #212831;
  border-radius: 0.5rem;
  border: 0.5px solid #3d444d;
  padding: 0.5rem;
  gap: 1rem;
}
.repo h3{
	font-size: 2rem;
}
.repo a{
	color: white;
	text-decoration: none;
	display: flex;
	gap: 0.5rem;
}
.userInfoButtom {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

footer {
  padding-top: 5rem;
  text-align: center;
  color: white;
}
